USE [master]
GO
/****** Object:  Database [App1]    Script Date: 2.06.2023 01:40:28 ******/
CREATE DATABASE [App1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'App1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\App1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'App1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\App1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [App1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [App1]
GO
/****** Object:  Table [dbo].[login]    Script Date: 2.06.2023 01:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nchar](15) NOT NULL,
	[password] [nchar](10) NOT NULL,
	[re_pass] [nchar](10) NOT NULL,
	[e_mail] [nchar](20) NOT NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[login] ON 

INSERT [dbo].[login] ([ID], [userName], [password], [re_pass], [e_mail]) VALUES (1, N'realfire       ', N'159753    ', N'159753    ', N'cc@cc.com           ')
INSERT [dbo].[login] ([ID], [userName], [password], [re_pass], [e_mail]) VALUES (2, N'zeze           ', N'zeze      ', N'123456789 ', N'zeze@zeze.com       ')
SET IDENTITY_INSERT [dbo].[login] OFF
GO
USE [master]
GO
